body {
  background-image: url('../../../public/Images/Background/小學堂背景.png');
  background-position: top center;
  background-size: cover;
  background-repeat: repeat-y;
  color: $color_black;
  letter-spacing: 1px;
  font-weight: 400;
  font-family: 'Noto Sans TC', sans-serif;
  line-height: 2;
}
