.competition {
  width: 100%;
  position: relative;
  margin-top: 5rem;

  @extend %flex-center;

  > section {
    position: absolute;
    z-index: 1;
    flex-direction: column;
    cursor: pointer;
    @extend %flex-center;
  }
}
