.footer {
  margin-top: 50px;

  @extend %layout-container;

  &__logos {
    flex-wrap: wrap;

    @extend %flex-center;

    > li {
      margin: 20px;
    }
  }

  &__info {
    text-align: center;
    font-size: 1.1em;
    line-height: 1.8;
  }
}
