.main {
  flex-wrap: wrap;
  margin-top: $margin_small;
  flex: 0 0 70%;
  @extend %layout-container;
  @extend %flex-row;

  &__container {
    flex: 0 0 60%;
    @include pc-width() {
      flex-direction: column;

      &__container,
      &__aside {
        flex: 0 0 auto;
        width: 100%;
      }
    }
    &--full {
      margin: 0 10%;

      @include phone-width() {
        margin: unset;
      }
    }
  }

  &__vertical-axis {
    min-height: 100vh;
    @include pad-under-width() {
      min-height: 0vh;
    }
  }

  &__aside {
    margin-top: -20px;
    margin-left: $margin_small;
    width: 340px;
    height: 500px;

    @include phone-width() {
      margin-top: $margin_small;
      margin-left: unset;
    }
  }

  &__horizontal {
    @extend %flex-center;
    @include pad-under-width() {
      display: flex;
      flex-direction: column;
    }
  }

  &__caption {
    font-size: 1.25rem;
    color: $color_white;
    flex-direction: column;
    min-height: 400px;
    @extend %flex-center;
    @include phone-small-width() {
      font-size: 1rem;
    }
    > a {
      font-size: 2rem;
    }
  }
}
