.carousel {
  position: relative;
  margin: auto;
  margin-top: 2rem;
  width: 80%;

  @extend %flex-center;

  @include phone-width() {
    width: 100%;
  }

  &__container {
    position: relative;
    overflow: hidden;
    width: 100%;
    height: auto;
  }

  &__items {
    position: relative;
    display: flex;
    transition: all 400ms;

    > li {
      position: relative;
      flex: 100%;
      width: 100%;
      flex-shrink: 0;
      @extend %inline-flex-center;
    }
  }

  &__dots {
    position: absolute;
    bottom: 40px;
    display: flex;

    > li {
      width: 20px;
      height: 5px;
      background-color: $color_white;
      opacity: 0.4;
      cursor: pointer;
      transition: opacity 300ms;

      @include layoutSpaceLeft(5px);

      &.active,
      &:hover {
        opacity: 1;
      }
    }
  }

  &__controls {
    position: absolute;
    margin-right: 10%;
    margin-left: 12.5%;
    width: calc(100% - 40px);

    @extend %flex-row-between;

    > span {
      background-color: $color_white;
      color: #ec753d;
      opacity: 0.7;
      cursor: pointer;
      transition: opacity 300ms;

      @include square(40px, 40px);
      @extend %flex-center;

      &:hover {
        opacity: 1;
      }
    }
  }
}
