.btn {
  padding: 10px $padding_small;
  background-color: $color_accent-dark;
  color: $color_white;
  letter-spacing: 2px;
  font-weight: 500;
  border-radius: 8px;
  box-shadow: $box-shadow_element;
  cursor: pointer;
  transition: background-color 300ms, opacity 300ms;

  @extend %inline-flex-center;

  &:hover {
    background-color: rgba($color: $color_white, $alpha: 0.5);
    color: $color_black;
  }

  &--danger {
    border: $color_danger solid 1px;
    background: $color_auxiliary-dark;
    &:hover {
      background-color: rgba($color: $color_danger, $alpha: 0.5);
    }
  }

  &--create {
    background-color: $color_accent-blue;
  }

  &--full {
    display: block;
    text-align: center;
    background-color: $color_line-light;
  }

  &--opacity {
    opacity: 0.3;
  }

  &--border {
    border: 5px solid $color_auxiliary;
    border-radius: $border-radius_layout;
    background-color: white;
    box-shadow: $box-shadow_fill;
    color: $color_auxiliary;
  }
}
