.container-board {
  position: relative;
  margin-bottom: 2rem;
  @extend %flex-column-center;

  &__content {
    padding: $padding_small;
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    width: 100%;
    min-height: 750px;
    min-width: 860px;

    &::before {
      content: '最 新 消 息';
      position: absolute;
      left: 43%;
      font-size: 1.5rem;
      color: $color_white;
    }

    @include pad-under-width {
      min-height: 700px;
      min-width: 800px;

      &::before {
        content: '最新消息';
        position: absolute;
        left: 45%;
        font-size: 1.5rem;
      }
    }

    @include phone-width {
      width: 100vw;
      min-width: 0;
      min-height: 500px;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '最新消息';
        top: 1%;
        left: 42%;
        font-size: 1.25rem;
      }
    }
  }

  &__body {
    position: relative;
    overflow: hidden;
    min-height: 300px;
    width: 100%;
    border-radius: 20px;

    @extend %flex-center;
  }

  &__hint {
    color: $color_accent;

    @extend %flex-center;

    &::before,
    &::after {
      flex: 1;
      margin: auto 20px;
      border-bottom: 2px dashed $color_auxiliary;
      content: '';
    }
  }

  &__story {
    padding: 100px;
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: contain;
    min-height: 900px;
    max-width: 1080px;
    font-size: 1rem;
    @extend %flex-center;
    flex-direction: column;
    &::before {
      position: absolute;
      color: $color_white;
      content: '故 事 背 景';
      top: 0%;
      left: 45%;
      font-size: 1.5rem;
    }
    @include pad-under-width {
      background-size: cover;
      min-height: 800px;
      max-width: 900px;
      padding: 80px;

      &::before {
        top: 0%;
        left: 43.5%;
        font-size: 1.25rem;
      }
    }
    @include phone-width {
      font-size: 0.75rem;
      min-height: 300px;
      padding: 60px 50px;
      &::before {
        top: 0;
        left: 40%;
        font-size: 1rem;
      }
    }
    @include phone-small-width {
      width: 100%;
      padding: 50px;
      background-size: cover;
      background-position: center center;

      &::before {
        top: 1%;
        left: 38.5%;
        font-size: 1rem;
      }
    }
  }

  &__team {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    font-size: 1rem;
    padding: 200px;
    @extend %flex-center;
    flex-direction: column;

    @include pad-under-width {
      background-size: cover;
      min-height: 1440px;
    }

    &::before {
      content: '隊 伍 管 理';
      position: absolute;
      top: 0.5%;
      left: 45.5%;
      font-size: 1.5rem;
      color: $color_white;
      @include pad-under-width {
        font-size: 2rem;
        top: 1%;
        left: 45%;
      }
      @include phone-width {
        font-size: 1.5rem;
        top: 1%;
        left: 43.5%;
      }
    }
  }

  &__teacher {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
    padding: 200px;
    min-width: 1080px;
    flex-direction: column;
    @extend %flex-center;

    @include pad-under-width {
      background-size: cover;
      padding: 80px;
      min-height: 480px;
    }
    &::before {
      content: '主要聯絡老師';
      position: absolute;
      top: 1%;
      left: 43.5%;
      font-size: 1.5rem;
      color: $color_white;
    }
  }

  &__room {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
    padding: 200px;
    min-width: 1080px;
    flex-direction: column;
    @extend %flex-center;

    @include pad-under-width {
      background-size: cover;
      padding: 80px;
      min-height: 480px;
    }

    &::before {
      content: '建 立 房 間';
      position: absolute;
      top: 1%;
      left: 45%;
      font-size: 1.5rem;
      color: $color_white;
    }
  }

  &__school {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
    padding: 200px;
    min-width: 1080px;
    flex-direction: column;
    @extend %flex-center;

    @include pad-under-width {
      background-size: cover;
      padding: 80px;
      min-height: 480px;
    }

    &::before {
      content: '切 換 學 校';
      position: absolute;
      top: 1%;
      left: 45%;
      font-size: 1.5rem;
      color: $color_white;
    }
  }

  &__team-list {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
    padding: 200px;
    min-height: 1080px;
    min-width: 1440px;
    @extend %flex-center;
    flex-direction: column;

    @include pad-under-width {
      background-size: cover;
      padding: 100px;
      min-height: 1440px;
      min-width: 0px;
      width: 100vw;
    }
    @include phone-width {
      padding: 20px;
    }

    &::before {
      content: '隊伍遊戲紀錄';
      position: absolute;
      top: 1%;
      left: 45%;
      font-size: 1.5rem;
      color: $color_white;
      @include pad-under-width {
        left: 40%;
      }
      @include phone-width {
        left: 35%;
      }
    }
  }
  &__team-detail {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top bottom;
    background-size: cover;
    font-size: 1rem;
    min-width: 1080px;
    min-height: 680px;

    @extend %flex-center;
    flex-direction: column;

    @include pad-under-width {
      background-size: cover;
      padding: 80px;
      min-height: 1440px;
    }

    &::before {
      content: '遊戲詳情紀錄';
      position: absolute;
      top: 1%;
      left: 43.5%;
      font-size: 1.5rem;
      color: $color_white;
    }
  }

  &__team-create {
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 1rem;
    flex-direction: column;
    padding: 100px;
    min-width: 1440px;

    @extend %flex-center;

    @include pad-under-width {
      padding: 80px;
    }
    @include phone-small-width {
      min-width: 2400px;
    }
    &::before {
      content: '隊 伍 新 增';
      position: absolute;
      top: 1%;
      left: 45%;
      font-size: 2rem;
      color: $color_white;

      @include phone-width {
        top: 0%;
      }
    }
  }

  &__faq {
    padding: 70px;
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    min-height: 960px;
    max-width: 1200px;
    font-size: 1rem;
    @extend %flex-center;

    &::before {
      content: '常 見 問 題';
      position: absolute;
      top: 0;
      left: 43.5%;
      font-size: 2rem;
      color: $color_white;
    }

    @media screen and (max-width: 1420px) and (min-width: 1080px) {
      &::before {
        top: 1%;
      }
    }
    @include pad-under-width {
      &::before {
        top: 2%;
        left: 42%;
      }
    }
    @include phone-width {
      min-height: 550px;
      width: 100%;
      &::before {
        top: 2%;
        left: 40%;
        font-size: 1.25rem;
      }
    }
  }

  &__multimedia-photo {
    min-height: 900px;
    min-width: 1080px;
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: contain;
    @extend %flex-center;
    flex-direction: column;

    &::before {
      content: '活 動 照 片';
      position: absolute;
      top: 0;
      left: 46%;
      font-size: 1.25rem;
      color: $color_white;
      @include phone-width {
        font-size: 1rem;
      }
    }

    @include pad-under-width {
      background-size: contain;
      min-height: 800px;
      max-width: 500px;
      font-size: 1.75rem;
    }
    @include phone-width {
      min-height: 700px;
      padding: 5rem;
      font-size: 0.75rem;
    }
  }

  &__multimedia-video {
    min-height: 900px;
    min-width: 1080px;
    position: relative;
    z-index: $z-index_base;
    background-repeat: no-repeat;
    background-position: top center;
    background-size: cover;
    font-size: 2rem;
    @extend %flex-center;
    flex-direction: column;

    &::before {
      content: '活 動 影 片';
      position: absolute;
      top: 0;
      left: 43.5%;
      font-size: 2rem;
      color: $color_white;
    }

    @include pad-under-width {
      background-size: contain;
      min-height: 800px;
      max-width: 500px;
      font-size: 1.75rem;
      &::before {
        top: 0;
        left: 46%;
        font-size: 1.25rem;
      }
    }
    @include phone-width {
      min-height: 700px;
      padding: 5rem;
      font-size: 0.75rem;
      &::before {
        top: 0%;
        left: 47%;
        font-size: 1rem;
      }
    }
  }

  &-alone {
    width: 80%;
    margin: auto;
    @extend %flex-center;

    @include pad-under-width {
      width: 100%;
    }
  }
}
