.faq-list {
  min-width: 300px;
  width: 100%;
  padding: 1rem;
  overflow-y: auto;
  @include pad-under-width {
    padding: 0;
  }

  @include phone-width {
    width: 100%;
    font-size: 0.75rem;
  }

  > li {
    width: 100%;
    padding: 0.5rem 0rem;
    border-bottom: 0.5px solid $color_accent;

    @include phone-width {
      width: 100%;
    }
  }

  &__title {
    color: $color_gray;
    font-size: 1.25rem;
    font-weight: 600;

    @include phone-width {
      font-size: 1rem;
    }
  }
}
